  <div class="card-price">
    <div class="card-price__toggle-button">
        <span>Mostrar precio</span>
                  <img
            src="images/chevron-down.svg"
            alt="" class="card-price__toggle-button--arrow" />
    </div>
    <div class="card-price-travel__content">
      <h3 class="card-price-travel__content-title">Trekking y almuerzo</h3>
            <p class="card-price-travel__content-description">
        Recorre los senderos del Cerro Frías a pie, descubriendo flora y fauna
        nativa mientras disfrutas de vistas panorámicas, seguido de una merienda
        en la estancia.
      </p>
      <ul class="card-price-travel__list-items">
        <li class="card-price-travel__list-items--item">
          <img
            src="images/compass.svg"
            alt="" />
          <span class="card-price-travel__list-items--span">Tipo: Actividad al aire libre</span>
        </li>
        <li class="card-price-travel__list-items--item">
          <img
            src="images/duration.svg"
            alt="" />
          <span class="card-price-travel__list-items--span">Tipo: Actividad al aire libre</span>
        </li>
        <li class="card-price-travel__list-items--item">
          <img
            src="images/dificult.svg"
            alt="" />
          <span class="card-price-travel__list-items--span">Tipo: Actividad al aire libre</span>
        </li>
      </ul>
                  <p class="card-price-travel__content-description">
Esta actividad es a partir de los 6 años de edad.
      </p>
    </div>
    <div class="card-price-travel__divider"></div>
    <div class="card-price-travel__price">
      <div class="card-price-travel__price-content">
        <span class="card-price-travel__price-span">Desde</span>
        <div class="card-price-travel__price-person">
          <h4 class="card-price-travel__price-title">
            <span class="card-price-travel__price-title--currency">$</span
            >100.000
          </h4>
          <span class="card-price-travel__price-span">/ Precio por adulto</span>
        </div>
      </div>
      <a
        href="#"
        class="card-price-travel__price-button">
        Reservar vía WhatsApp
      </a>
    </div>
  </div>
