<a
  href="#"
  class="card-grid--clickeable">
  <div class="card-grid">
    <img
      src="images/image.png"
      alt=""
      class="card-grid-travel__thumbnail" />
    <div class="card-grid-travel__content">
      <h3 class="card-grid-travel__content-title">Trekking y almuerzo</h3>
      <ul class="card-grid-travel__list-items">
        <li class="card-grid-travel__list-items--item">
          <img
            src="images/icon.png"
            alt="" />
          <span>Tipo: Actividad al aire libre</span>
        </li>
        <li class="card-grid-travel__list-items--item">
          <img
            src="images/icon.png"
            alt="" />
          <span>Tipo: Actividad al aire libre</span>
        </li>
        <li class="card-grid-travel__list-items--item">
          <img
            src="images/icon.png"
            alt="" />
          <span>Tipo: Actividad al aire libre</span>
        </li>
      </ul>
      <p class="card-grid-travel__content-description">
        Recorre los senderos del Cerro Frías a pie, descubriendo flora y fauna
        nativa mientras disfrutas de vistas panorámicas, seguido de una merienda
        en la estancia.
      </p>
    </div>
    <div class="card-grid-travel__divider"></div>
    <div class="card-grid-travel__price">
      <div class="card-grid-travel__price-content">
        <span class="card-grid-travel__price-span">Desde</span>
        <div class="card-grid-travel__price-person">
          <h4 class="card-grid-travel__price-title">
            <span class="card-grid-travel__price-title--currency">$</span
            >100.000
          </h4>
          <span class="card-grid-travel__price-span">/ Precio por adulto</span>
        </div>
      </div>
      <button
        class="card-grid-travel__price-button">
        Ver actividad
      </button>
    </div>
  </div>
</a>
