$border-radius-small: 8px;
$border-radius-large: 8px 8px 0 0;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 24px;
$font-size-sm: 28px;
$font-size-extra-large: 32px;
$font-size-currency: 20px;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-48: 48px;
