@import "variables";

.button {
  &__base {
    background: var(--global-palette2);
    border-radius: 4px;
    color: #fff;
    font-size: $font-size-medium;
    font-weight: bold;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-transform: none;
    white-space: nowrap;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: var(--global-palette-btn-bg-hover);
      color: #fff;
    }
  }
}

.card-grid--clickeable:hover .button__base,
.card-list-travel--clickeable:hover .button__base {
  background: var(--global-palette-btn-bg-hover);
}
