@import "button";
@import "variables";

.card-price {
  background-color: #fff;
  color: var(--global-palette5);
  border-radius: $border-radius-small;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  font-size: $font-size-small;
  gap: $spacing-16;
  padding: $spacing-24 0 $spacing-24;
  width: 100%;
  max-width: 360px;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
  }

  @media (max-width: 600px) {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    box-shadow: 1px -2px 6px rgba(0, 0, 0, 0.1) !important;
  }

  .card-price__toggle-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    padding: 8px 16px 0px;
    gap: 8px;
    top: -24px;
    left: 50%;
    background: #fff;
    box-shadow: -2px -4px 3px rgba(0, 0, 0, 0.1) !important;
    transform: translateX(-50%);
    cursor: pointer;

    span {
      color: var(--global-palette4);
    }

    .card-price__toggle-button--arrow {
      transition: transform 0.3s ease;
      width: 16px;
      height: 16px;
    }
  }

  .card-price-travel__content {
    padding: $spacing-4 $spacing-24 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-16;

    @media (max-width: 600px) {
      display: none;
    }

    .card-price-travel__content-title {
      font-size: $font-size-large;
      font-weight: 500;
      text-transform: none;
      line-height: 1;
      color: var(--global-palette4);
      padding: 0;
      margin: 0;
    }

    .card-price-travel__list-items {
      display: flex;
      flex-direction: column;
      gap: $spacing-12;
      padding: 0;
      margin: 0;
      list-style: none;

      .card-price-travel__list-items--item {
        display: flex;
        gap: $spacing-8;
        align-items: center;
        font-size: $font-size-small;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .card-price-travel__content-description {
      font-size: $font-size-small;
      line-height: 1.5;
      padding: 0;
      margin: 0;
    }
  }

  .card-price-travel__divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eee;
    @media (max-width: 600px) {
      display: none;
    }
  }

  .card-price-travel__price {
    border-left: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
    justify-content: center;
    padding: 0 $spacing-24;
    flex: 1;

    .card-price-travel__price-content {
      display: flex;
      flex-direction: column;

      .card-price-travel__price-person {
        display: flex;
        align-items: baseline;
        gap: $spacing-8;

        .card-price-travel__price-title {
          color: var(--global-palette4);
          font-size: $font-size-extra-large;
          font-weight: 500;
          padding: 0;
          margin: 0;

          @media (max-width: 600px) {
            font-size: $font-size-sm;
          }

          .card-price-travel__price-title--currency {
            font-size: $font-size-currency;
            padding: 0;
            margin: 0;
          }
        }

        .card-price-travel__price-span {
          font-size: $font-size-small;
        }
      }
    }

    .card-price-travel__price-button {
      @extend .button__base;
    }
  }
}

@media (max-width: 600px) {
  .card-price--clickeable {
    max-width: 100%;
  }
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
