@import "button";
@import "variables";

.card-list-travel--clickeable {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 $spacing-4 $spacing-8 rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: $border-radius-small;
  max-width: 1140px;
}

.card-list-travel--clickeable:hover {
  box-shadow: 0 $spacing-8 $spacing-16 rgba(0, 0, 0, 0.2);
}

.card-list-travel {
  color: var(--global-palette5);
  background-color: #fff;
  border-radius: $border-radius-small;
  border: 1px solid #eee;
  display: flex;
  flex-direction: row;
  font-size: $font-size-medium;
  gap: $spacing-24;
  width: 100%;
  padding-left: $spacing-24;
}

.card-list-travel__thumbnail-container {
  padding: $spacing-24 0;
  width: 100%;
  max-width: 336px;
  display: flex;
  justify-content: center;
}

.card-list-travel__thumbnail {
  width: 100%;
  max-width: 336px;
  height: auto;
  object-fit: contain;
}

.card-list-travel__content {
  display: flex;
  flex-direction: column;
  padding: $spacing-24 0;
  gap: $spacing-16;
}

.card-list-travel__content-title {
  color: var(--global-palette4);
  font-size: $font-size-large;
  font-weight: 500;
  text-transform: none;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.card-list-travel__list-items {
  display: flex;
  flex-direction: column;
  font-size: $font-size-medium;
  gap: $spacing-12;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list-travel__list-items--item {
  display: flex;
  gap: $spacing-8;
  align-items: center;
}

.card-list-travel__content-description {
  font-size: $font-size-medium;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.card-list-travel__price {
  border-left: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: $spacing-24;
  justify-content: center;
  padding: 0 $spacing-48;
  flex: 1;
}

.card-list-travel__price-title {
  color: var(--global-palette4);
  font-size: $font-size-extra-large;
  font-weight: 500;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.card-list-travel__price-title--currency {
  font-size: $font-size-currency;
}

.card-list-travel__price-span {
  font-size: $font-size-small;
}

.card-list-travel__price-button {
  @extend .button__base;
}

.card-list-travel__divider {
  display: none;
}

@media (max-width: 1024px) {
  .card-list-travel {
    gap: $spacing-16;
  }

  .card-list-travel__thumbnail-container {
    max-width: 100%;
  }

  .card-list-travel__content {
    gap: $spacing-8;
  }

  .card-list-travel__content-title {
    font-size: $font-size-large;
  }

  .card-list-travel__content-description {
    font-size: $font-size-small;
  }

  .card-list-travel__price {
    padding: 0 $spacing-32;
  }
}

@media (max-width: 768px) {
  .card-list-travel {
    padding-left: $spacing-16;
  }

  .card-list-travel__thumbnail-container {
    padding: $spacing-16 0;
  }

  .card-list-travel__thumbnail {
    object-fit: cover;
  }

  .card-list-travel__price-title {
    font-size: $font-size-sm;
  }

  .card-list-travel__price {
    padding: 0 $spacing-16;
    gap: $spacing-16;
  }

  .card-list-travel__price-button {
    font-size: $font-size-small;
  }

  .card-list-travel__content-title {
    font-size: $font-size-medium;
  }

  .card-list-travel__list-items {
    gap: $spacing-4;
  }
}

@media (max-width: 600px) {
  .card-list-travel {
    flex-direction: column;
    padding: 0 0 $spacing-24;
    overflow: hidden;
    border: none;
  }

  .card-list-travel__price {
    padding: 0 $spacing-24;
    border-left: none;
  }

  .card-list-travel__price-content {
    padding: 0;
  }

  .card-list-travel__divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eee;
  }

  .card-list-travel__price-person {
    display: flex;
    align-items: baseline;
    gap: $spacing-8;
  }

  .card-list-travel__price-button {
    font-size: $font-size-medium;
  }

  .card-list-travel__content {
    padding: 0 $spacing-24;
    gap: $spacing-16;
  }

  .card-list-travel__content-title {
    font-size: $font-size-large;
  }

  .card-list-travel__list-items {
    gap: $spacing-12;
    font-size: $font-size-medium;
  }

  .card-list-travel__content-description {
    font-size: $font-size-medium;
  }

  .card-list-travel__thumbnail {
    max-width: 100%;
    padding: 0;
  }

  .card-list-travel__thumbnail-container {
    padding: 0;
  }
}
