@import "button";
@import "variables";

.card-grid--clickeable {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: $border-radius-small;
  max-width: 425px;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.card-grid {
  background-color: #fff;
  color: var(--global-palette5);
  border-radius: $border-radius-small;
  display: flex;
  flex-direction: column;
  font-size: $font-size-small;
  gap: $spacing-16;
  padding: 0 0 $spacing-24;
  width: 100%;
  overflow: hidden;

  .card-grid-travel__thumbnail {
    width: 100%;
    border-radius: $border-radius-large;
    object-fit: cover;
  }

  .card-grid-travel__content {
    padding: $spacing-4 $spacing-24 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-16;

    .card-grid-travel__content-title {
      font-size: $font-size-large;
      font-weight: 500;
      line-height: 1;
      color: var(--global-palette4);
    }

    .card-grid-travel__list-items {
      display: flex;
      flex-direction: column;
      gap: $spacing-12;
      padding: 0;
      margin: 0;
      list-style: none;

      .card-grid-travel__list-items--item {
        display: flex;
        gap: $spacing-8;
        align-items: center;
        font-size: $font-size-medium;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .card-grid-travel__content-description {
      font-size: $font-size-medium;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card-grid-travel__divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eee;
  }

  .card-grid-travel__price {
    border-left: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
    justify-content: center;
    padding: 0 $spacing-24;
    flex: 1;

    .card-grid-travel__price-content {
      display: flex;
      flex-direction: column;

      .card-grid-travel__price-person {
        display: flex;
        align-items: baseline;
        gap: $spacing-8;

        .card-grid-travel__price-title {
          color: var(--global-palette4);
          font-size: $font-size-extra-large;
          font-weight: 500;

          @media (max-width: 600px) {
            font-size: $font-size-sm;
          }

          .card-grid-travel__price-title--currency {
            font-size: $font-size-currency;
          }
        }

        .card-grid-travel__price-span {
          font-size: $font-size-small;
        }
      }
    }

    .card-grid-travel__price-button {
      @extend .button__base;
    }
  }
}

@media (max-width: 600px) {
  .card-grid--clickeable {
    max-width: 100%;
  }
}
